<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acknowledgement DashBoard🖥️</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <div id="intro">
    <div id="title-profile">
    <h1 id="main-title">Acknowledgement DashBoard 🖥️ </h1>
    <p id="profile-icon"> 🌸</p>
    </div>
    <h2 class="welcome-message"> Welcome, Sivani!</h2>
    </div>
    <div class="dashboard-container">
        <div class="card" id="progress">
        <h3>Today's Progress</h3>
        <p>DashBoard: 40%</p>
        <p>Coding: 1/1</p>
        <p>Drawing: 1/1</p>
        <p>Language: 0/1</p>
        </div>
        <div class="card" id="habits">
        <h3>Today's Habits</h3>
        <ul>
        <li>Coding</li>
        <li>Dashboard Project</li>
        <li>Languages</li>
        <li>Drawing</li>
        <li>Excel</li>
        </ul>
        </div>
        <div class="card" id="todo">
        <h3>To Do</h3>
            <input type="checkbox" id="drawing_practice" name="Drawing Practice">
            <label for="drawing_practice">Drawing Practice</label><br>
            <input type="checkbox" id="coding_practice" name="Coding Practice">
            <label for="coding_practice">Coding Practice</label><br>
            <input type="checkbox" id="languages" name="Languages">
            <label for="languages">Languages</label><br>
            <input type="checkbox" id="dashboard-project" name="Dashboard Project">
            <label for="dashboard-project">Dashboard Project</label><br>
            <input type="checkbox" id="reading_practice" name="Reading Practice">
            <label for="reading_practice">Reading practice</label><br>
        </div>
        <div class="card" id="acknowledge">
        <h3>Acknowledgements</h3>
        <p>I'm proud that I pushed my project to GitHub.</p>
        </div>
    </div>

</body>
</html>
