<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acknowledgement DashBoard🖥️</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <div id="intro">
    <div id="title-profile">
    <h1 id="main-title">Acknowledgement DashBoard 🖥️ </h1>
    <p id="profile-icon"> 🌸</p>
    </div>
    <h2 class="welcome-message"> Welcome, {{ name }}!</h2>
    </div>
    <div class="dashboard-container">
        <div class="card" id="progress">
        <h3>Today's Progress</h3>
        <ul>
        {%for task, done in progress_tasks.items()%}
        <li>
            <span> {{ task }}</span>
            <span>{{ done }}</span>
        </li>
        {%endfor%}
        </ul>
        </div>
        <div class="card" id="habits">
        <h3>Today's Habits</h3>
        <ul>
        {%for task in habit_card_tsk%}
        <li>{{ task }}</li>
        {%endfor%}
        </ul>
        </div>
        <div class="card" id="todo">
        <h3>To Do</h3>
        {%for habit in habits%}
        <div class="todo-item">
            <input type="checkbox"
            id="box-{{ habit }}"
            name="{{ habit }}">
            <label for="box-{{ habit }}">{{ habit }}</label>
        </div>
        {%endfor%}
        </div>
        
        <div class="card" id="acknowledge">
        <h3>Acknowledgements</h3>
        <p>I'm proud that I pushed my project to GitHub.</p>
        </div>
    </div>

</body>
</html>
